<html ng-app>
<head>
    <link rel="stylesheet" type="text/css" href="style.css" />
    <!--<script src="angular.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.min.js"></script>
    <script src="test.js"></script>
</head>
<body>
<div ng-controller="DeathrayMenuController">
    <button ng-click="toggleMenu()">Toggle Menu</button>
    <ul ng-show="menuState.show">
        <li ng-click="stun()">Stun</li>
        <li ng-click="disintegrate()">Disintegrate</li>
        <li ng-click="erase()">Erase from history</li>
    </ul>
</div>
<div ng-controller="HeaderController">
    <div ng-class="{error: isError, warning: isWarning}">
        {{messageText}}
    </div>
    <button ng-click="showError()">Show error</button>
    <button ng-click="showWarning()">Simulate warning</button>
</div>
<table ng-controller="RestaurantTableController">
    <tr ng-repeat="restaurant in directory" ng-click="selectRestaurant($index)" ng-class="{selected: $index == selectedRow}">
        <td>{{restaurant.name}}</td>
        <td>{{restaurant.cuisine}}</td>
    </tr>
</table>
</body>
</html>